<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.PaAgentMapper">
    <resultMap type="com.ruoyi.business.domain.entity.PaAgentDO" id="PaAgentResult">
        <result property="id" column="id"/>
        <result property="paAccountId" column="pa_account_id"/>
        <result property="agentId" column="agent_id"/>
        <result property="agentName" column="agent_name"/>
        <result property="agentDescription" column="agent_description"/>
        <result property="agentStatus" column="agent_status"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createdById" column="created_by_id"/>
        <result property="createdByName" column="created_by_name"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedById" column="updated_by_id"/>
        <result property="updatedByName" column="updated_by_name"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <resultMap type="com.ruoyi.business.domain.model.response.PaAgentVO" id="PaAgentVOResult"
               extends="PaAgentResult">
        <result property="paAccount" column="pa_account"/>
        <result property="paUserName" column="pa_user_name"/>

    </resultMap>

    <sql id="selectPaAgentVo">
        select id,
               pa_account_id,
               agent_id,
               agent_name,
               agent_description,
               agent_status,
               delete_flag,
               created_by_id,
               created_by_name,
               created_time,
               updated_by_id,
               updated_by_name,
               updated_time
        from pa_agent
    </sql>

    <select id="selectPaAgentList" parameterType="com.ruoyi.business.domain.model.PaAgent" resultMap="PaAgentVOResult">
        select paag.id,
        paag.pa_account_id,
        paag.agent_id,
        paag.agent_name,
        paag.agent_description,
        paag.agent_status,
        paag.delete_flag,
        paag.created_by_id,
        paag.created_by_name,
        paag.created_time,
        paag.updated_by_id,
        paag.updated_by_name,
        paag.updated_time,
        paac.pa_account,
        paac.pa_user_name
        from pa_agent as paag
        inner join pa_account as paac on paag.pa_account_id=paac.id and paac.delete_flag=0
        <where>
            and paag.delete_flag=0
            <if test="paAccountId != null ">
                and paag.pa_account_id = #{paAccountId}
            </if>
            <if test="agentId != null  and agentId != ''">
                and paag.agent_id like concat('%', #{agentId}, '%')
            </if>
            <if test="agentName != null  and agentName != ''">
                and paag.agent_name like concat('%', #{agentName}, '%')
            </if>
            <if test="agentDescription != null  and agentDescription != ''">
                and paag.agent_description = #{agentDescription}
            </if>
            <if test="agentStatus != null ">
                and paag.agent_status = #{agentStatus}
            </if>
            <if test="deleteFlag != null ">
                and paag.delete_flag = #{deleteFlag}
            </if>
        </where>
    </select>

    <select id="selectPaAgentById" parameterType="Long" resultMap="PaAgentResult">
        <include refid="selectPaAgentVo"/>
        where id = #{id}
    </select>

    <insert id="insertPaAgent" parameterType="com.ruoyi.business.domain.model.PaAgent" useGeneratedKeys="true"
            keyProperty="id">
        insert into pa_agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paAccountId != null">
                pa_account_id,
            </if>
            <if test="agentId != null">
                agent_id,
            </if>
            <if test="agentName != null">
                agent_name,
            </if>
            <if test="agentDescription != null">
                agent_description,
            </if>
            <if test="agentStatus != null">
                agent_status,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createdById != null">
                created_by_id,
            </if>
            <if test="createdByName != null">
                created_by_name,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedById != null">
                updated_by_id,
            </if>
            <if test="updatedByName != null">
                updated_by_name,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paAccountId != null">
                #{paAccountId},
            </if>
            <if test="agentId != null">
                #{agentId},
            </if>
            <if test="agentName != null">
                #{agentName},
            </if>
            <if test="agentDescription != null">
                #{agentDescription},
            </if>
            <if test="agentStatus != null">
                #{agentStatus},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag},
            </if>
            <if test="createdById != null">
                #{createdById},
            </if>
            <if test="createdByName != null">
                #{createdByName},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="updatedById != null">
                #{updatedById},
            </if>
            <if test="updatedByName != null">
                #{updatedByName},
            </if>
            <if test="updatedTime != null">
                #{updatedTime},
            </if>
        </trim>
    </insert>

    <update id="updatePaAgent" parameterType="com.ruoyi.business.domain.model.PaAgent">
        update pa_agent
        <trim prefix="SET" suffixOverrides=",">
            <if test="paAccountId != null">
                pa_account_id = #{paAccountId},
            </if>
            <if test="agentId != null">
                agent_id = #{agentId},
            </if>
            <if test="agentName != null">
                agent_name = #{agentName},
            </if>
            <if test="agentDescription != null">
                agent_description = #{agentDescription},
            </if>
            <if test="agentStatus != null">
                agent_status = #{agentStatus},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="createdById != null">
                created_by_id = #{createdById},
            </if>
            <if test="createdByName != null">
                created_by_name = #{createdByName},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedById != null">
                updated_by_id = #{updatedById},
            </if>
            <if test="updatedByName != null">
                updated_by_name = #{updatedByName},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePaAgentById" parameterType="Long">
        delete
        from pa_agent
        where id = #{id}
    </delete>

    <delete id="deletePaAgentByIds" parameterType="String">
        delete from pa_agent where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>