<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.ProjectMapper">
    <resultMap type="com.ruoyi.business.domain.entity.ProjectDO" id="ProjectResult">
        <result property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="projectName" column="project_name"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="projectStatus" column="project_status"/>
        <result property="remark" column="remark"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createdById" column="created_by_id"/>
        <result property="createdByName" column="created_by_name"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedById" column="updated_by_id"/>
        <result property="updatedByName" column="updated_by_name"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="selectProjectVO">
        select id,
               dept_id,
               project_name,
               start_date,
               end_date,
               project_status,
               remark,
               delete_flag,
               created_by_id,
               created_by_name,
               created_time,
               updated_by_id,
               updated_by_name,
               updated_time
        from project p
    </sql>

    <select id="selectProjectList" parameterType="com.ruoyi.business.domain.model.Project" resultMap="ProjectResult">
        <include refid="selectProjectVO"/>
        <where>
            and delete_flag=0
            <if test="deptId != null ">
                and dept_id = #{deptId}
            </if>
            <if test="projectName != null  and projectName != ''">
                and project_name like concat('%', #{projectName}, '%')
            </if>
            <if test="startDate != null ">
                and start_date = #{startDate}
            </if>
            <if test="endDate != null ">
                and end_date = #{endDate}
            </if>
            <if test="projectStatus != null ">
                and project_status = #{projectStatus}
            </if>
            <if test="deleteFlag != null ">
                and delete_flag = #{deleteFlag}
            </if>
            <if test="createdById != null ">
                and created_by_id = #{createdById}
            </if>
            <if test="createdByName != null  and createdByName != ''">
                and created_by_name like concat('%', #{createdByName}, '%')
            </if>
            <if test="createdTime != null ">
                and created_time = #{createdTime}
            </if>
            <if test="updatedById != null ">
                and updated_by_id = #{updatedById}
            </if>
            <if test="updatedByName != null  and updatedByName != ''">
                and updated_by_name like concat('%', #{updatedByName}, '%')
            </if>
            <if test="updatedTime != null ">
                and updated_time = #{updatedTime}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectProjectById" parameterType="Long"
            resultMap="ProjectResult">
        <include refid="selectProjectVO"/>
        where id = #{id}
        and delete_flag=0
    </select>
    <select id="selectProjectByIds"
            resultMap="ProjectResult">
        <include refid="selectProjectVO"/>
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and delete_flag=0
    </select>

    <insert id="insertProject" parameterType="com.ruoyi.business.domain.entity.ProjectDO" useGeneratedKeys="true"
            keyProperty="id">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="projectStatus != null">
                project_status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createdById != null">
                created_by_id,
            </if>
            <if test="createdByName != null">
                created_by_name,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedById != null">
                updated_by_id,
            </if>
            <if test="updatedByName != null">
                updated_by_name,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                #{deptId},
            </if>
            <if test="projectName != null">
                #{projectName},
            </if>
            <if test="startDate != null">
                #{startDate},
            </if>
            <if test="endDate != null">
                #{endDate},
            </if>
            <if test="projectStatus != null">
                #{projectStatus},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag},
            </if>
            <if test="createdById != null">
                #{createdById},
            </if>
            <if test="createdByName != null">
                #{createdByName},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="updatedById != null">
                #{updatedById},
            </if>
            <if test="updatedByName != null">
                #{updatedByName},
            </if>
            <if test="updatedTime != null">
                #{updatedTime},
            </if>
        </trim>
    </insert>

    <update id="updateProject" parameterType="com.ruoyi.business.domain.entity.ProjectDO">
        update project
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">
                dept_id =
                #{deptId},
            </if>
            <if test="projectName != null">
                project_name =
                #{projectName},
            </if>
            <if test="startDate != null">
                start_date =
                #{startDate},
            </if>
            <if test="endDate != null">
                end_date =
                #{endDate},
            </if>
            <if test="projectStatus != null">
                project_status =
                #{projectStatus},
            </if>
            <if test="remark != null">
                remark =
                #{remark},
            </if>
            <if test="deleteFlag != null">
                delete_flag =
                #{deleteFlag},
            </if>
            <if test="createdById != null">
                created_by_id =
                #{createdById},
            </if>
            <if test="createdByName != null">
                created_by_name =
                #{createdByName},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime},
            </if>
            <if test="updatedById != null">
                updated_by_id =
                #{updatedById},
            </if>
            <if test="updatedByName != null">
                updated_by_name =
                #{updatedByName},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectById" parameterType="Long">
        delete
        from project
        where id = #{id}
    </delete>

    <delete id="deleteProjectByIds" parameterType="String">
        delete from project where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>